.sidepanel{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 290px;
    top: 230px;
    align-items: center;
    left: 50px;
    z-index: 3;
    color:#fff;
    &__divider{
        width: 2px;
        height: 70px;
        background-color: #fff;
    }
    &__text{
        width: 24px;
        height: 100px;
        
        span{
            display: block;
            transform: rotate(-90deg) translate(-30%,-160%);
            width: 100px;
        }
        
    }
}